INSTRUMENTS
    0   2                         E-Piano on bank 0
    1   ELECTRIC_GRAND_PIANO,0    E-Piano on bank 0
    2   ELECTRIC_GRAND_PIANO,0/0  E-Piano on bank 0
    3   2,0/0                     E-Piano on bank 0
    4   40                        Fiddle
    5   ACOUSTIC_BASS             Bass
    p   ELECTRONIC                E-Drums on bank 0
    10  ELECTRONIC,120            E-Drums on bank 15360
    11  ELECTRONIC,120/0          E-Drums on bank 15360
    12  ELECTRONIC,15360          E-Drums on bank 15360
    13  24,120                    E-Drums on bank 15360
    14  24,120/0                  E-Drums on bank 15360
    15  24,15360                  E-Drums on bank 15360
END