INSTRUMENTS
	4  LEAD_VOICE  Vocals
END

CALL vocals(Lon, don_, Bridge_, is_, fal, ling_, down)
CALL vocals(Build_, it_, up_, with_, wood_, and_, clay)
CALL vocals(Wood_, and_, clay_, will_, wash_, a, way)

FUNCTION vocals
	CALL measure_1($[0], $[1], $[2], $[3])  // London bridge is
	CALL measure_2($[4], $[5], $[6]\c\r)    // falling down,
	CALL measure_3($[4], $[5], $[6]\c_)     // falling down,
	CALL measure_2($[4], $[5], $[6].\r)     // falling down.
	CALL measure_1($[0], $[1], $[2], $[3])  // London bridge is
	CALL measure_2($[4], $[5], $[6].\r)     // falling down,
	CALL refrain()                          // My fair lady.
END
FUNCTION measure_1
	//    Lon-          don          bridge       is
	4: (l=$[0]) a:4. (l=$[1]) b:8 (l=$[2]) a:4 (l=$[3]) g
END
FUNCTION measure_2
	//    fal-          ling       down
	4: (l=$[0]) f#:4 (l=$[1]) g (l=$[2]) a:2
END
FUNCTION measure_3
	//    fal-         ling        down
	4: (l=$[0]) e:4 (l=$[1]) f# (l=$[2]) g:2
END
FUNCTION refrain
	//    My          fair        La-         dy
	4: (l=My_) e:2 (l=fair_) a (l=La) f#:4 (l=dy.\n) d:2.
END