// logo
header {
	.title-bar-left {
		min-width: 60%;
	}
	.title-bar-right {
		.logo-container-outer {
			background-color: #ffffff;
			.logo-container-inner {
				height: 2em;
				margin: 0.2em;
				svg {
					.logo-green {
						opacity: 1;
						fill:    $primary-color;
					}
					.logo-orange {
						opacity: 1;
						fill:    $secondary-color;
					}
					.logo-green-transparent {
						opacity: 0.5;
						fill:    $primary-color;
					}
				}
			}
		}
	}
}

// sticky footer
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

em {
	font-variant: small-caps;
	// font-weight: bold;
	font-style: normal;
}

// all links
$link-hover-bgcolor: $primary-color-light;
a {
	font-weight: bold;
	&:hover {
		background-color: $link-hover-bgcolor;
		text-decoration: underline;
		text-decoration-color: $black;
	}
}

// keep as much distance as the top bar is high
section {
	padding-top: 62px;
}
