$link-hover-bgcolor: scale-color($anchor-color, $lightness: +65%);

// sticky footer
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

em {
	font-variant: small-caps;
	// font-weight: bold;
	font-style: normal;
}

// all links
a {
	font-weight: bold;
	&:hover {
		background-color: $link-hover-bgcolor;
		text-decoration: underline;
		text-decoration-color: $black;
	}
}

// keep as much distance as the top bar is high
section {
	padding-top: 62px;
}
