footer {
	background-color: $black;
	min-height: 3.0rem;
	padding: 0.3rem;
	nav {
		border-top: 0.3rem $black solid;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				background-color: $white;
				color: $black;
				display: inline-block;
				border-left: 0.2rem $black solid;
				border-right: 0.2rem $black solid;
			}
		}
	}
}