nav {
	li {
		// normal menu entries
		background-color: $white;
		&:hover {
			background-color: $link-hover-bgcolor;
		}
		a:hover {
			text-decoration: none;
		}
		
		// link back to top
		&.top-link {
			background-color: $secondary-color;
			a {
				color: $black;
				&:hover {
					background-color: $secondary-color-light;
				}
			}
		}
	}
}
