.midicapl {

	// variables (colors and borders)
	$midicapl-border-radius: 0.5rem;
	$midicapl-border-width: 0.15rem;
	$midicapl-header-bgcolor:    #b0f1c8; // scale-color($success-color, $lightness: +60%);
	$music-score-header-bgcolor: #ffdf99; // scale-color($warning-color, $lightness: +60%);
	$example-margin: 0.4rem;         // distance between example boxes
	$example-margin-bottom: 1rem;    // distance between example boxes and the following text
	$inner-example-margin: 0.5rem;   // distance between example box and the example inside of it
	$next-link-color: $light-gray;   // aside box at the bottom, containing the "next chapter" link
	$next-link-padding: 2rem;        // inner aside box margin
	$next-link-bottom-space: 2rem;   // space between aside box and page bottom

	// svg colors
	$example-color-blue:  #0000ff;
	$example-color-green: #009900;
	$example-color-red:   #ff0000;

	// table header: same gray as dark stripes
	$table-header-color: $table-striped-background;
	
	// tables
	.reference {
		background-color: $midicapl-header-bgcolor;
		border: $midicapl-border-width solid $box-color;
		border-radius: $midicapl-border-radius;
	}
	table {
		border: $midicapl-border-width solid $box-color;
		border-top: none;
		border-bottom-left-radius: $midicapl-border-radius;
		border-bottom-right-radius: $midicapl-border-radius;
		border-collapse: separate;
		border-spacing: 0;
		thead {
			background-color: $table-header-color;
		}
		tbody {
			tr {
				th {
					padding-top: 1.5rem;
					text-align: left;
				}
			}
		}
		caption {
			background-color: $midicapl-header-bgcolor;
			border: $midicapl-border-width solid $box-color;
			border-bottom: none;
			border-top-right-radius: $midicapl-border-radius;
			border-top-left-radius: $midicapl-border-radius;
		}
	}

	// source code examples
	.toplevel-example-container {
		.example-container {
			border: solid $box-color $midicapl-border-width;
			border-radius:  $midicapl-border-radius;
			margin-top: $example-margin;
			margin-left: $example-margin;
			margin-bottom: $example-margin-bottom;
			// margin: $example-margin;
			// overflow: auto;
			.headline {
				border-top-right-radius: $midicapl-border-radius;
				border-top-left-radius: $midicapl-border-radius;
				background-color: $music-score-header-bgcolor;
				padding-left: 1rem;
				color: $box-color;
				.rendered {
					font-size: $small-font-size;
					.tool {
						font-weight: bold;
						font-style: italic;
					}
				}
			}
			&.midicapl {
				background-color: $light-gray;
				.headline {
					background-color: $midicapl-header-bgcolor;
				}
				pre {
					border-bottom-left-radius: $midicapl-border-radius;
					border-bottom-right-radius: $midicapl-border-radius;
					// background-color: $light-gray;
					// white-space: pre;
					tab-size: 4;
					margin-left: $inner-example-margin;
					margin-right: $inner-example-margin;
					.diff {
						color: $example-color-blue;
						background-color: $white;
						font-weight: bold;
					}
				}
			}
			&.svg {
				svg {
					margin: $inner-example-margin;
					polyline {
						&.StaffLines {
							stroke: #000000;
							stroke-width: 0.40000001;
							fill: none;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 2;
							}
						}
						&.BarLine {
							fill: none;
							stroke: #000000;
							stroke-width: 0.80000001;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 4;
							}
						}
						&.BarLine25 {
							fill: none;
							stroke: #000000;
							stroke-width: 2.5;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 12.5;
							}
						}
						&.LedgerLine {
							fill: none;
							stroke: #000000;
							stroke-width: 0.80000001;
							stroke-linecap: square;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 4;
							}
						}
						&.Stem {
							fill: none;
							stroke: #000000;
							stroke-width: 0.64999998;
							stroke-linecap: round;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 3.25;
							}
						}
						&.Tuplet {
							fill: none;
							stroke: #000000;
							stroke-width: 0.5;
							stroke-linecap: square;
							stroke-linejoin: bevel;
						}
						&.Beam {
							fill-rule: evenodd;
						}
						&.LyricsLineSegment {
							fill: none;
							stroke: #000000;
							stroke-width: 0.75;
							stroke-linejoin: bevel;
							&.v3 {
								stroke-width: 3.75;
							}
						}
						&.VoltaSegment {
							fill: none;
							stroke: #000000;
							stroke-width: 2.5;
							stroke-linecap: square;
							stroke-linejoin: bevel;
						}
						&.blue {
							stroke: $example-color-blue;
						}
						&.green {
							stroke: $example-color-green;
						}
						&.red {
							stroke: $example-color-red;
						}
					}
					.blue {
						fill: $example-color-blue;
					}
					.green {
						fill: $example-color-green;
					}
					.red {
						fill: $example-color-red;
					}
				}
			}
			&.image {
				background-color: $screenshot-gray;
				padding-bottom: 0.5rem;
				.image-content {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
			&.table {
				table {
					border: none;
				}
				background-color: $table-header-color;
			}
			.blue {
				color: $example-color-blue;
			}
			.green {
				color: $example-color-green;
			}
			.red {
				color: $example-color-red;
			}
		}
	}

	// hint
	p.hint {
		color: $box-color;
		font-style: italic;
		&::before {
			content: "Hint: ";
			font-weight: bold;
		}
	}

	// container for the "next page" link
	aside {
		background-color: $next-link-color;
		border: $midicapl-border-width solid $box-color;
		border-radius:  $midicapl-border-radius;
		padding: $next-link-padding;
		margin-bottom: $next-link-bottom-space;
	}
}
