.midicapl {

	// variables (colors and borders)
	$midicapl-border-radius: 0.5rem;
	$midicapl-border-width: 0.15rem;
	$midicapl-header-bgcolor: scale-color($success-color, $lightness: +65%);
	$music-score-header-bgcolor: scale-color($warning-color, $lightness: +65%);
	$example-margin: 0.4rem;         // distance between example boxes
	$example-margin-bottom: 1rem;  // distance between example boxes and the following text
	$inner-example-margin: 0.5rem;   // distance between example box and the example inside of it
	$next-link-color: $light-gray;   // aside box at the bottom, containing the "next chapter" link
	$next-link-padding: 2rem;        // inner aside box margin
	$next-link-bottom-space: 2rem;   // space between aside box and page bottom

	// svg colors
	$example-color-blue:  #0000ff;
	$example-color-green: #009900;
	$example-color-red:   #ff0000;
	
	// tables
	.reference {
		background-color: $midicapl-header-bgcolor;
		border: $midicapl-border-width solid $primary-color;
		border-radius: $midicapl-border-radius;
	}
	table {
		border: $midicapl-border-width solid $primary-color;
		border-top: none;
		border-bottom-left-radius: $midicapl-border-radius;
		border-bottom-right-radius: $midicapl-border-radius;
		border-collapse: separate;
		border-spacing: 0;
		caption {
			background-color: $midicapl-header-bgcolor;
			border: $midicapl-border-width solid $primary-color;
			border-bottom: none;
			border-top-right-radius: $midicapl-border-radius;
			border-top-left-radius: $midicapl-border-radius;
		}
	}

	// source code examples
	.toplevel-example-container {
		.example-container {
			border: solid $primary-color $midicapl-border-width;
			border-radius:  $midicapl-border-radius;
			margin-top: $example-margin;
			margin-left: $example-margin;
			margin-bottom: $example-margin-bottom;
			// margin: $example-margin;
			// overflow: auto;
			.headline {
				border-top-right-radius: $midicapl-border-radius;
				border-top-left-radius: $midicapl-border-radius;
				background-color: $music-score-header-bgcolor;
				padding-left: 1rem;
				color: $primary-color;
				.rendered {
					font-size: $small-font-size;
					.tool {
						font-weight: bold;
						font-style: italic;
					}
				}
			}
			&.midicapl {
				background-color: $light-gray;
				.headline {
					background-color: $midicapl-header-bgcolor;
				}
				pre {
					border-bottom-left-radius: $midicapl-border-radius;
					border-bottom-right-radius: $midicapl-border-radius;
					// background-color: $light-gray;
					// white-space: pre;
					tab-size: 4;
					margin-left: $inner-example-margin;
					margin-right: $inner-example-margin;
				}
			}
			&.svg {
				svg {
					margin: $inner-example-margin;
					polyline {
						&.StaffLines {
							stroke: #000000;
							stroke-width: 0.40000001;
							fill: none;
							stroke-linejoin: bevel;
						}
						&.BarLine {
							fill: none;
							stroke: #000000;
							stroke-width: 0.80000001;
							stroke-linejoin: bevel;
						}
						&.LedgerLine {
							fill: none;
							stroke: #000000;
							stroke-width: 0.80000001;
							stroke-linecap: square;
							stroke-linejoin: bevel;
						}
						&.Stem {
							fill: none;
							stroke: #000000;
							stroke-width: 0.64999998;
							stroke-linecap: round;
							stroke-linejoin: bevel;
						}
						&.Tuplet {
							fill: none;
							stroke: #000000;
							stroke-width: 0.5;
							stroke-linecap: square;
							stroke-linejoin: bevel;
						}
						&.Beam {
							fill-rule: evenodd;
						}
						&.blue {
							stroke: $example-color-blue;
						}
						&.green {
							stroke: $example-color-green;
						}
						&.red {
							stroke: $example-color-red;
						}
					}
					.blue {
						fill: $example-color-blue;
					}
					.green {
						fill: $example-color-green;
					}
					.red {
						fill: $example-color-red;
					}
				}
			}
			&.image {
				background-color: $light-gray;
				padding-bottom: 0.5rem;
				.image-content {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
			.blue {
				color: $example-color-blue;
			}
			.green {
				color: $example-color-green;
			}
			.red {
				color: $example-color-red;
			}
		}
	}

	// container for the "next page" link
	aside {
		background-color: $next-link-color;
		border: $midicapl-border-width solid $primary-color;
		border-radius:  $midicapl-border-radius;
		padding: $next-link-padding;
		margin-bottom: $next-link-bottom-space;
	}
}
