<div class="grid-x toplevel-example-container" data-equalizer="eq-{{m}}_{{i}}_{{s}}" data-equalize-by-row="true">
		{{#if m}}
		<div class="cell shrink example-container midicapl">
			<div class="grid-x">
				<div class="cell headline">
					<span>MidicaPL</span>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell">
<pre data-equalizer-watch="eq-{{m}}_{{i}}_{{s}}">{{> (lookup . 'm') }}</pre>
				</div>
			</div>
		</div>
	{{/if}}
	{{#if m2}}
		<div class="cell shrink example-container midicapl">
			<div class="grid-x">
				<div class="cell headline">
					<span>MidicaPL</span>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell">
<pre data-equalizer-watch="eq-{{m}}_{{i}}_{{s}}">{{> (lookup . 'm2') }}</pre>
				</div>
			</div>
		</div>
	{{/if}}
	{{#if m3}}
		<div class="cell shrink example-container midicapl">
			<div class="grid-x">
				<div class="cell headline">
					<span>MidicaPL</span>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell">
<pre data-equalizer-watch="eq-{{m}}_{{i}}_{{s}}">{{> (lookup . 'm3') }}</pre>
				</div>
			</div>
		</div>
	{{/if}}
	{{#if i}}
		<div class="cell shrink example-container image">
			<div class="grid-x">
				<div class="cell headline">
					Result <span class="rendered">(Screenshot)</span>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell image-content" data-equalizer-watch="eq-{{m}}_{{i}}_{{s}}">
					<img src="assets/examples/{{i}}"{{#if alt}} alt="{{alt}}"{{/if}}>
				</div>
			</div>
		</div>
	{{/if}}
	{{#if s}}
		<div class="cell shrink example-container svg">
			<div class="grid-x">
				<div class="cell headline">
					Result <span class="rendered">(SVG)</span>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell image-content" data-equalizer-watch="eq-{{m}}_{{i}}_{{s}}">
					{{> (lookup . 's') }}
				</div>
			</div>
		</div>
	{{/if}}
</div>